@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

.article {
  font-family: "Roboto Slab", serif;
  border: 2px solid rebeccapurple;
  margin: 1rem;
  padding: 0.5rem;
}

.likeBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
